.showcase {
  height: 40vh;
  background-image: url(./images/767505_black-dice-3d-ultra-hd-wallpapers-hd-wallpapers-4k-wallpapers_3840x2160_h.webp);
  background-position: center;
  background-size: cover;
  text-align: center; }
  .showcase h1 {
    line-height: 2rem;
    text-align: center;
    padding: 1rem;
    padding-top: 3rem;
    color: #adadad;
    font-size: 1.6rem; }

@media (min-width: 40rem) {
  .showcase {
    height: 50vh; }
    .showcase h1 {
      padding-top: 5rem;
      line-height: 3rem;
      font-size: 2.6rem; } }
#boxes {
  background-color: #d2dadf;
  text-align: center;
  width: 100%; }
  #boxes .box {
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 0.6rem; }
    #boxes .box .courseButton {
      margin-top: 1rem;
      padding: 0.6rem;
      background-color: orangered;
      border: none;
      border-radius: 10px; }
      #boxes .box .courseButton a {
        font-weight: bold;
        font-size: 1.2rem;
        color: white;
        text-decoration: none; }
    #boxes .box .courseButton:hover {
      font-weight: bold;
      font-size: 1.2rem;
      background-color: black; }
  #boxes .box:hover {
    box-shadow: 10px 5px 5px orangered; }
  #boxes .box img {
    height: 6.5rem;
    width: 5.6rem; }

.selectButton {
  text-align: center; }

@media (min-width: 40rem) {
  #boxes {
    padding-top: 1rem;
    padding-left: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #boxes .box {
      margin-left: 1rem;
      margin-bottom: 1rem;
      width: 28%;
      min-width: 10rem;
      max-width: 25rem;
      box-shadow: 2px 2px 10px black; } }
#updateSection {
  background-color: #35424a;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #updateSection h1 {
    font-size: 1.3rem;
    padding-top: 1rem; }
  #updateSection form {
    padding-top: 1.2rem;
    padding-bottom: 1rem; }
  #updateSection input[type="email"] {
    padding: 0.3rem;
    font-size: 0.8rem;
    border: 1px solid black;
    border-radius: 5px;
    vertical-align: middle; }
  #updateSection .button_1 {
    border: none;
    border-radius: 5px;
    padding: 0.3rem;
    font-weight: bold;
    color: white;
    background-color: orangered; }
  #updateSection .button_1:hover {
    color: orangered;
    background-color: black;
    box-shadow: 3px; }

@media (min-width: 40rem) {
  #updateSection h1 {
    font-size: 2rem; }
  #updateSection input[type="email"] {
    padding: 0.5rem;
    font-size: 0.9rem; }
  #updateSection .button_1 {
    padding: 0.5rem; } }
#bottomSection {
  background-color: #35424a;
  color: white; }
  #bottomSection .bottomDiv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    float: right;
    margin: 0.6rem; }
  #bottomSection address span {
    font-size: 1.2rem;
    color: orangered;
    font-weight: bold; }

/*# sourceMappingURL=home.css.map */
